.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: currentColor;
  line-height: 1;
  vertical-align: middle;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
}
